:root{
  --ifm-color-primary-lightest: #3897E0;
  --ifm-color-primary-lighter: #2188D6;
  --ifm-color-primary-light: #2082CD;
  --ifm-color-primary: #1d76ba;
  --ifm-color-primary-dark: #1A6AA7;
  --ifm-color-primary-darker: #19649E;
  --ifm-color-primary-darkest: #145382;
}
